/* Barra lateral Menu */
*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0px;
}

.head3r{
    background-color: #0769e9;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav3{
    display: flex;
    justify-content: space-between;

    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: white;
    text-decoration: none;

}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    background-color: #034574;
    transition: 0.5s;
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

@media (max-width:768px){
    
    body{
        padding-top: 70px;
    }

    .head3r{
        height: 80px;
    }
    
    .logo{
        padding: 0 20px;
        line-height: 0px;
        
    }
    
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        background-color: #2c3e50;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
   
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background: none;
        color:#83c5f7
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 0;
    }

    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }

}

/* Fin Barra lateral Menu */


img{
    width: 200px; height: 200px;
    display:block;
    margin:auto;
}

#ima{
    font-size: 25px;
    font-family: cursive;
    font: bold;
    color: #8b0008;
    text-align: center;
}

#parrafo1{
    font-size: 20px;
    font-family: cursive;
    color: orangered;
    padding: 30px;
}
#vinetas{
    color:red;
}
table{
    border-color: seagreen;
}

#tdht{
    font-size: 14px;
    font-family: cursive;
    color: tomato;
}

#lab2{
    font-size: 15px;
}
#pie{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}

#titform{
    text-align: center;
    font-size: 25px;
    font-family: cursive;
    font: bold;

}

#titcapt{
    text-align: center;
    font-size: 20px;
    font-family: cursive;
    font: bold;
    
}

/* #tabla1{
    margin: 0 auto;
} */

form{
	width:333px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form input[type="password"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

form input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="reset"]{
	width:100%;
	padding:8px 16px;
	margin-top:10px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#000;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}
form input[type="reset"]:hover{
	cursor:pointer;
}

#linkfoot{
    text-align: center;
}
